RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.ipotekalife\.ru$ [NC]
RewriteRule ^(.*)$ http://ipotekalife.ru/$1 [R=301,L]
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]